<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/auth/updateuser" method="post">
        <h2>{{title}}</h2>
        <label for="">First Name:</label>
        <input type="text" name="first_name" value="{{user.first_name}}">
        <label for="">Last Name:</label>
        <input type="text" name="last_name" value="{{user.last_name}}">
        <label for="">Email:</label>
        <input type="text" name="email" value="{{user.email}}" readonly>

        <button type="submit">Submit</button>
    </form>
    
    {{!-- Using conditionals --}}
    {{#if message }} 
    <h4>{{message}}</h4>
    {{/if}}
</body>
</html>